@Keyframes wateropen{
  from {height:0;top:100%}
  to{height:100%;top:0 } 
}
#container{
 display:flex;
 justify-content: center;
 align-items: center;
 height: 70vh;
 margin-left: -700px;
}
#can{
  width:150px;
  height: 200px;
  background-color: #d3d3d3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}
#water{
  height:100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: skyblue;

}
#tap{
  display:flex;
  align-items:flex-end;
  justify-content: flex-end;

}
#tapinner{
background-color: brown;
height: 10px;
width:70px;
margin-top:180px;
}
#tapouter{
  background-color: brown;
  height:40px;
  width:10px;
  position: absolute;
  bottom:270px;
  
}
#taphandle{
  background-color: red;
  width:30px;
  height:10px;
  position: absolute;
  bottom:305px;
  right:865px;
  border-radius: 20px;
}
button{
  border:0;
}
#waterflow{
  height:100px;
  width:10px;
  background-color: #fff;
  position: absolute;
  top:315px;
}


@Keyframes wateropen1{
  from {height:0;top:100%}
  to{height:100%;top:0 } 
}
#container1{
 display:flex;
 justify-content: center;
 align-items: center;
 height: 70vh;
 margin-top: -400px;
}
#can1{
  width:150px;
  height: 200px;
  background-color: #d3d3d3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px 2px gray;
}
#water1{
  height:100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: cyan;

}
#tap1{
  display:flex;
  align-items:flex-end;
  justify-content: flex-end;

}
#tapinner1{
background-color: brown;
height: 10px;
width:70px;
margin-top:180px;
}
#tapouter1{
  background-color: brown;
  height:50px;
  width:10px;
  position: absolute;
  bottom:250px;
}
#taphandle1{
  background-color: red;
  width:30px;
  height:10px;
  position: absolute;
  bottom:299px;
  right: 515px;
  border-radius: 20px;
}
button{
  border:0;
}
#waterflow1{
  height:100px;
  width:10px;
  background-color: #fff;
  position: absolute;
  top:325px;
}



@Keyframes wateropen2{
  from {height:0;top:100%}
  to{height:100%;top:0 } 
}
#container2{
 display:flex;
 justify-content: center;
 align-items: center;
 height: 70vh;
 margin-left: 700px;
 margin-top: -410px;
}
#can2{
  width:150px;
  height: 200px;
  background-color: #d3d3d3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}
#water2{
  height:100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: blueviolet;

}
#tap2{
  display:flex;
  align-items:flex-end;
  justify-content: flex-end;

}
#tapinner2{
background-color: brown;
height: 10px;
width:70px;
margin-top:180px;
}
#tapouter2{
  background-color: brown;
  height:40px;
  width:10px;
  position: absolute;
  bottom:260px;
}
#taphandle2{
  background-color: red;
  width:30px;
  height:10px;
  position: absolute;
  bottom:299px;
  right:165px;
  border-radius: 20px;
}
button{
  border:0;
}
#waterflow2{
  height:100px;
  width:10px;
  background-color: #fff;
  position: absolute;
  top:325px;
}

 
#container3{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-left: -700px;
  
 }
 #can3{
  position: absolute;
   width:1000px;
   height: 200px;
   background-color:white;
  border-radius: 10px 10px 10px 10px ;
   margin-left: 750px;
   margin-top: -300px;
   box-shadow: 2px 2px 2px 2px black;
 }
 #water3{
   height:100px;
   background-color: skyblue;
   margin-top: 100px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
 } 

 
